<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">                                
           <!-- <span ng-if="$state.includes('examples')">
                <li class="nav-title" >
                    Examples
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('examples')}">
                    <a class="nav-link" ng-class="{active: $state.includes('examples.form')}" ui-sref="examples.form"><i class="icon-puzzle"></i> Form</a> 
                    <a class="nav-link" ng-class="{active: $state.includes('examples.table')}" ui-sref="examples.table"><i class="icon-puzzle"></i> Table</a> 
                </li>
                <li class="divider"></li>
            </span>-->
            <span ng-if="$state.includes('appointment')">
                <li class="nav-title">
                    <i class="fa fa-star"></i> Functions
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('appointment')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('appointment.list')}" ui-sref="appointment.list">
                        <i class="fa fa-star"></i> View Available Appointments
                    </a>   
                    <a class="nav-link" ng-class="{active: $state.includes('appointment.create')}" ui-sref="appointment.create">
                        <i class="fa fa-plus"></i> Book An Appointment
                    </a>   
                  <!--  <a class="nav-link"  ng-class="{active: $state.includes('appointment.detail')}" ui-sref="appointment.detail">
                        <i class="fa fa-plus"></i> Request to Appointment
                    </a>   -->
                </li>  
            </span>
            <span ng-if="$state.includes('nomination')">
                <li class="nav-title">
                    <i class="fa fa-book"></i> Nominations
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('nomination')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('nomination.list')}" ui-sref="nomination.list">
                        <i class="fa fa-book"></i> List All Nominations
                    </a>                       
                </li>  
            </span>
            <span ng-if="$state.includes('content')">
                <li class="nav-title">
                    <i class="fa fa-image"></i> Content Management
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.banner')}" ui-sref="content.banner">
                        <i class="fa fa-upload"></i> Upload Banner
                    </a>                       
                </li>  
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.librarianpick*')}" ui-sref="content.librarianpick.list">
                        <i class="fa fa-thumbs-up"></i> Librarian's Pick
                    </a>                       
                </li> 
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.faq')}" ui-sref="content.faq">
                        <i class="fa fa-question-circle"></i> FAQ
                    </a>                       
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.emailtemplate')}" ui-sref="content.emailtemplate">
                        <i class="fa fa-file-text"></i> Email Template
                    </a>                       
                </li>
            </span>
         
        </ul>
    </nav>
</div>