<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">                                
            <span ng-if="$state.includes('examples')">
                <li class="nav-title" >
                    Examples
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('examples')}">
                    <a class="nav-link" ng-class="{active: $state.includes('examples.form')}" ui-sref="examples.form"><i class="icon-puzzle"></i> Form</a> 
                    <a class="nav-link" ng-class="{active: $state.includes('examples.table')}" ui-sref="examples.table"><i class="icon-puzzle"></i> Table</a> 
                </li>
                <li class="divider"></li>
            </span>
            <span ng-if="$state.includes('specialCollection')">
                <li class="nav-title">
                    <i class="fa fa-star"></i> Special Collections
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('specialCollection')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('specialCollection.list')}" ui-sref="specialCollection.list">
                        <i class="fa fa-star"></i> List All Special Collections
                    </a>   
                    <a class="nav-link" ng-if="$root.selectedRole.functions.indexOf('SPECIAL_COLLECTION_EDIT')!== -1" ng-class="{active: $state.includes('specialCollection.create')}" ui-sref="specialCollection.create">
                        <i class="fa fa-plus"></i> Create Special Collection
                    </a>   
                </li>  
            </span>
            <span ng-if="$state.includes('nomination')">
                <li class="nav-title">
                    <i class="fa fa-book"></i> Nominations
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('nomination')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('nomination.list')}" ui-sref="nomination.list">
                        <i class="fa fa-book"></i> List All Nominations
                    </a>                       
                </li>  
            </span>
            <span ng-if="$state.includes('content')">
                <li class="nav-title">
                    <i class="fa fa-image"></i> Content Management
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.banner')}" ui-sref="content.banner">
                        <i class="fa fa-upload"></i> Upload Banner
                    </a>                       
                </li>  
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.librarianpick*')}" ui-sref="content.librarianpick.list">
                        <i class="fa fa-thumbs-up"></i> Librarian's Pick
                    </a>                       
                </li> 
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.faq')}" ui-sref="content.faq">
                        <i class="fa fa-question-circle"></i> FAQ
                    </a>                       
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('content')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('content.emailtemplate')}" ui-sref="content.emailtemplate">
                        <i class="fa fa-file-text"></i> Email Template
                    </a>                       
                </li>
            </span>
            <span ng-if="$state.includes('report')">
                <li class="nav-title">
                    <i class="fa fa-clipboard"></i> Reports
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('report')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('report.system')}" ui-sref="report.system">
                        <i class="fa fa-clipboard"></i> System Logs 
                    </a> 
                    <a class="nav-link" ng-class="{active: $state.includes('report.email')}" ui-sref="report.email">
                        <i class="fa fa-clipboard"></i> Email Logs
                    </a>
                    <a class="nav-link" ng-class="{active: $state.includes('report.nomination')}" ui-sref="report.nomination">
                        <i class="fa fa-clipboard"></i> Nomination Report
                    </a>
                    <a class="nav-link" href="" ng-click="generateSitemap()">
                        <i class="fa fa-download"></i> Generate Sitemap 
                    </a>
                </li>   
            </span>
            <span ng-if="$state.includes('role')">
                <li class="nav-title">
                    <i class="fa fa-user"></i> Role Management
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('role')}">                
                    <a class="nav-link" ng-class="{active: $state.includes('role.system')}" ui-sref="role.system">
                        <i class="fa fa-user"></i> Edit Role
                    </a> 
                </li>   
            </span>
        </ul>
    </nav>
</div>