<div class="login flex-row align-items-center" style="margin-top:100px;" ng-controller="forgetPasswordController as ctrl">
    <form name="ctrl.loginForm" ng-submit="ctrl.login()" novalidate>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <img src="assets/img/loginIcon.png" alt="Appoinment Booking system">

                                <hr>
                                <div class="col-md-12" style="text-align: center">
                                  
                                    <h1 style="text-align: center">Forget Password</h1>
                                       
                                    
                                   
                                </div>
                                
                                <div class="row " style="margin-bottom: 20px">
                                    <div style="margin-bottom: 10px"><label>Enter your email account</label></div>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input class="form-control" type="text" name="userEmail" ng-change="ctrl.checkEmail()" ng-model="ctrl.email" placeholder="Email">                                        
                                    </div>
                                    
                                    <div  role="alert" style="color:red">
                                        <p><span class="error" ng-if="ctrl.emailInvalid" ><i class="fa fa-warning" >&nbsp</i>Invalid email address format</span>
                                            <span class="error" ng-if="ctrl.emailEmpty" ><i class="fa fa-warning" >&nbsp</i>Email address cannot be blank</span>
                                            <span ng-if="ctrl.emailExceed"><a ><i class="fa fa-warning"  >&nbsp</i>Email address cannot exceed 255 character ({{ctrl.email.length}} character)</a></span>
                                        </p>
                                    </div>
                                </div>                                          
                               
                                
                                <div class="row">
                                    <div class="col-12" style="text-align: center">
                                        <button type="submit" class="btn btn-primary px-4">Submit</button>
                                    </div>
                                    <!--<div class="col-6 text-right">
<button type="button" class="btn btn-link px-0">Forgot password?</button>
</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
