<div class="card">
    <div class="card-header"> <span class="fa fa-plus"></span> Create New Appointment
        <div class="pull-right">
            <button class="btn btn-outline-primary" type="button" ui-sref="specialCollection.list"><span class="fa fa-backward"></span> Back to Listing </button>
            <button class="btn btn-outline-danger" type="button" ng-disabled="ctrl.titleInvalid||ctrl.descriptionInvalid||ctrl.uploadImageInvalid" ng-click="ctrl.createSpecialCollection()"><span class="fa fa-save"></span> Save Appointment</button>
        </div>
    </div>

    </form>
</div>
</div>