<style>
    
    .navbar {
        align-items: baseline;
    }
    
    .card {
        margin-top: 10px;
    }
    .unstyled::-webkit-inner-spin-button{
        display: none;
    }
    .unstyled::-webkit-calendar-picker-indicator {
     
        -webkit-appearance: ;
    }
</style>

<!--no. of archived inside-->
<!--start date and end date doest seem applicable -->
<form class="form-horizontal">
    <div class="card">
        <div class="card-header"> <span class="fa fa-star"></span> AppointmentList
            <div class="pull-right">
                
                <export-filtered-row-fn  class="btn" method="ctrl.downloadCsv()" filename="appointmentList.csv" /> 
                <button type="button" class="btn btn-outline-primary my-2 my-sm-0"  ui-sref="appointment.create"> 
                    <span class="fa fa-plus"></span> Booking New Appointment</button>
               
               
        </div>
        </div>
        <div class="card-body">
           
            <div     class="table table-striped"st-table="appointmentsVar"  st-safe-src="ctrl.appointments"
                 >
                
                <table class="table table-responsive table-striped" >
                    <thead>
                        <tr>
                            <th style="min-width: 200px; max-width: 200px;">
                                <div style="padding-bottom:5px"><i class="fa fa-fw fa-sort" st-sort="id"></i> 
                                    Appointment ID</div>
                                <div style="margin-left: 20px;margin-top: 5px"><button class="btn btn-default btn-sm fa fa-eraser" st-reset-search uib-tooltip="Clear filters" ng-click="ctrl.clearDate()"></button></div>
                            </th>
                                <!-- <div style="padding-bottom: 43px" >Featured</div> </th>-->
                            <th style="min-width: 110px;max-width: 110px;">
                                <div style="padding-bottom:5px" ><i class="fa fa-fw fa-sort" st-sort="statusCode"></i> Status</div>
                                <select st-search="statusName" placeholder="Search" st-input-event="change keydown" class="input-sm form-control" style="height: 34px;padding-left: 3px;padding-right: 0px;">
                                    <option value=""></option>
                                    <option ng-repeat="status in ctrl.allStatuses" value="{{status.name}}">{{status.name}}</option>
                                </select>
                            </th>


                            <th style="min-width: 250px;max-width: 250px">
                                <div style="padding-bottom:5px"><i class="fa fa-fw fa-sort" st-sort="publishedDate"></i> Start Time </div>

                                <input class=" form-control" type="text" date-time id="pickerToUpdateMaxDate1" ng-model="ctrl.searchStartDate" view="date" format="DD MMM YYYY" min-view="date"  auto-close="true"
                                       date-change="changeMinDate" placeholder=" Start Time">


                            </th>
                            <th style="min-width: 250px;max-width: 250px">
                                <div style="padding-bottom:5px"><i class="fa fa-fw fa-sort" st-sort="publishedDate"></i> End Time </div>

                                <input class=" form-control" type="text" date-time id="pickerToUpdateMinDate1" ng-model="ctrl.searchEndDate" view="date" format="DD MMM YYYY"  min-view="date" max-view="year" auto-close="true"
                                       date-change="changeMaxDate" placeholder="End Time"> 


                            </th>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" appointment in appointmentsVar">
                            <td class="text-center" style="text-align: center">
                                <a href="" ng-click="ctrl.showDetailPage(appointment)"data-toggle="modal" data-target="#appointmentDetail" uib-tooltip="Click to view appointment" tooltip-placement="left" >{{appointment.id}}</a></td>
                            <td class="text-center"> 
                                <span class="badge badge-danger" ng-model="appointment.statusCode" ng-if="appointment.statusName=='Rejected'">{{appointment.statusName}}</span> 
                                <span class="badge badge-success" ng-model="appointment.statusCode" ng-if="appointment.statusName=='Approved'">{{appointment.statusName}}</span>
                                <span class="badge badge-info" ng-model="appointment.statusCode" ng-if="appointment.statusName=='Pending'">{{appointment.statusName}}</span>
                            </td>
                           
                            
                            <td class="text-center">{{appointment.startTime | date:'dd MMM yyyy'}}</td>
                            <td class="text-center">{{appointment.endTime | date:'dd MMM yyyy'}}</td>
                           
                            
                        </tr>
                    </tbody>
                </table>
                
                <div style="padding-bottom: 15px;">
                    <div st-template="app/shared/pagination/paginationView.html" st-pagination st-items-by-page="ctrl.searchDTO.pageSize" 
                         st-page-change="pageOffset=(newPage-1)*searchDTO.pageSize"></div>
                </div>
                <div class="modal fade" id="appointmentDetail" tabindex="-1" role="dialog" aria-labelledby="Participants" aria-hidden="true">

                    <div class="modal-dialog" style="width:400px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                                <h4 class="modal-title" id="myModalLabel">All available slot </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row"style="margin-bottom: 10px;padding-left: 10px">
                                    <label class="col-3">Status:</label>
                                    <input name="startTime" ng-model="ctrl.selectedAppointment.status" disabled></div>
                                <div class="row" style="margin-bottom: 10px;padding-left: 10px">
                                    <label class="col-3">Start time:</label>
                                     <input name="startTime" ng-model="ctrl.selectedAppointment.startTime" disabled></div>
                                <div class="row"style="margin-bottom: 10px;padding-left: 10px">
                                    <label class="col-3">End time:</label>
                                    <input name="endTime" ng-model="ctrl.selectedAppointment.endTime" disabled></div>
                                <div class="row" style="margin-bottom: 10px;padding-left: 10px">
                                    <label class="col-3">Location:</label>
                                    <input name="location" ng-model="ctrl.selectedAppointment.location" disabled></div>
                                <button ng-click="ctrl.changeAppointment()" style="margin-bottom: 10px" ng-if="!ctrl.change">Change to Another Slot</button>
                                <button ng-click="ctrl.closeSlot()" style="margin-bottom: 10px" ng-if="ctrl.change">Close ALl Slots</button>
                                <table class="table table-bordered table-striped table-responsive table-condensed small" style="width:100%;" ng-if="ctrl.change" >
                                    <thead>
                                        <tr>
                                        <th>Time</th>
                                        <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="slot in ctrl.appointmentList">

                                            <td><input type="checkbox" ng-model="slot.isSelected"
                                                       ng-true-value="'YES'" ng-false-value="'NO'">{{slot.startTime}} - {{slot.endTime}}</td>
                                            <td>{{slot.location}}</td>

                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                            <div class="modal-footer">
                                <button class="btn  btn-primary" ng-click="ctrl.saveAppintment()"
                                        ng-if="ctrl.change"
                                        data-dismiss="modal">
                                    save
                                </button>
                                <button class="btn  btn-primary" data-dismiss="modal" ng-click="ctrl.cancelAppintment()"
                                        >
                                    Cancel Appointment
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.closeModal()">Close</button>
                                <!--<button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="checkStageName(competition.stageList,competition.tempStageList)">Save</button>-->
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
            <div class="card-footer"> Legends
               <!-- <dl class="row"> 
                    <dt class="col-sm-1" style=" min-width: 67px; padding-bottom: 5px;"><span class="btn btn-info action-btn fa fa-check"></span></dt>
                    <dd class="col-sm-11">Featured collection (Top 4 in public website) </dd> 
                    <dt class="col-sm-1"style=" min-width: 67px;padding-bottom: 5px;"><span class="btn btn-danger action-btn fa fa-flag"></span></dt>
                    <dd class="col-sm-11">Eligible to set as featured collection (Top 4 in public website)</dd>
                    <dt class="col-sm-1" style=" min-width: 67px;padding-bottom: 5px;"><span class="badge badge-danger">Draft</span></dt>
                    <dd class="col-sm-11">Draft Copy, Not published to public website</dd> 
                    <dt class="col-sm-1"style=" min-width: 67px;padding-bottom: 5px;"><span class="badge badge-success">Published</span></dt>
                    <dd class="col-sm-11">Published to public website</dd>
                </dl>-->
            </div>
        </div>
    </div>
</form>