<div class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>
    <a class="navbar-brand" ui-href="/dashboard"> <img
		src="assets/img/loginIcon.png" width="170px" alt="FYP">
	</a>
    <ul class="nav navbar-nav d-md-down-none" style="margin-left: 30px; padding-left: 0.75rem;">
      <!--  <li class="nav-item px-3" >
            <a class="nav-link" href=""  ng-click="ctrl.redirect('DASHBOARD')"><i class="fa fa-dashboard"></i> </a>
        </li>-->
       
        <li class="nav-item px-3" ng-if="$root.selectedRoleCode=='attendee'">
            <a class="nav-link" href=""  ng-click="ctrl.redirect('APP')"><i class="fa fa-star"></i> Appoinment</a>
        </li>
        <li class="nav-item px-3" ng-if="$root.selectedRoleCode=='attendee'" >
            <a class="nav-link" href=""  ng-click="ctrl.redirect('PROFILE')"><i class="fa fa-book"></i> User profile</a>
        </li>      
    
        <li class="nav-item px-3" ng-if="$root.selectedRoleCode=='organizer'|| $root.selectedRoleCode=='convenor'">
            <a class="nav-link"  href="" ng-click="ctrl.redirect('APP_MGMT')"><i class="fa fa-clipboard"></i> Appointment Management</a>
        </li> 
        <li class="nav-item px-3" ng-if="$root.selectedRoleCode=='convenor'">
            <a class="nav-link"  href="" ng-click="ctrl.redirect('USER_MGMT')"><i class="fa fa-user"></i> User Management</a>
        </li>        
    </ul>
    <ul class="nav navbar-nav ml-auto d-md-down-none">
        <user-setting></user-setting>
    </ul>
</div>
