<div  >
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User Profile</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

   


    <nav class="row" style="padding:0 10px">
        <button class="btn btn-primary navbar-btn" ><span class="fa fa-save"></span> Save Changes</button> <!--ng-click="updateUserProfile()"-->
        <button class="btn btn-default navbar-btn" ><span class="fa fa-undo"></span> Reset</button>
    </nav>

    <!-- <div ng-if="loading">  
<img id="mySpinner" src="pictures/spinner-blue.gif" ng-if="loading" />
</div>-->

    

    <div class="form-horizontal">
        <form class="col-md-12 form-horizontal" name="userProfileForm"  novalidate>
     

     

           

            <div class="row">
                <label class="col-md-3 control-label">Login ID</label>
                <div class="col-md-3 control-value">
                    <input class="form-control"type="text" ng-model="ctrl.selectedUserDetails.loginId">
                </div>
            </div>

           
            <div class="row">
                <label class="col-md-3 control-label"> First Name</label>

                <div class="col-md-9 control-value" > 
                    <input class="form-control"type="text" ng-model="ctrl.selectedUserDetails.firstName">
                   

                    
                </div>
                <label class="col-md-3 control-label"> Last Name</label>

                <div class="col-md-9 control-value" > 
                    <input class="form-control"type="text" ng-model="ctrl.selectedUserDetails.LastName">
                   
                    
                </div>



            </div>

           

            <div class="row">
                <label class="col-md-3 control-label">Email Address*</label>
                <div class="col-md-9 control-value">
                    
                    <input class="form-control"type="email" name="email" ng-model="ctrl.selectedUserDetails.emailAddress" ng-value="true" ng-change="updateEmail()" required> 
                   

                   

                    <div role="alert" style="color:red">
                        <p><span class="error" ng-if="userProfileForm.otherEmail.$error.maxlength">Too long!</span></p>
                        
                        <p><span class="error" ng-if="!sameEmail&&userProfileForm.otherEmail.$error.pattern">Invalid email address format!</span>
                            
                        </p>
                        
                        <p><span class="error" ng-if="userProfileForm.otherEmail.$error.required">Mandatory</span></p>
                    </div>

                    
                </div>

            </div>

            <div class="row">
                <label class="col-md-3 control-label">Contact No.*</label>
                <div class="col-md-2">
                    <input class="form-control" ng-model="ctrl.selectedUserDetails.contactNo" name="contact" ng-minlength="8" ng-maxlength="8" ng-pattern="/^[6 8-9]{1}\d{7}/" required>
                    <div class="help-block small text-nowrap">Mobile No. preferred</div>

                    <div role="alert" style="color:red">
                        <p><span class="error" ng-show="userProfileForm.contact.$error.minlength">Too short!</span></p>
                        <p><span class="error" ng-show="userProfileForm.contact.$error.maxlength">Too long!</span></p>
                        <p><span class="error" ng-show="userProfileForm.contact.$error.pattern">Invalid contact number</span></p>
                        <!--                        <p><span class="error" ng-show="userProfileForm.contact.$error.required">Required</span></p>-->
                    </div>
                </div>
               
            </div>

            
        </form>
    </div>
  
</div>