<form name="resultImportForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Import results</h3>
    </div>
    <div class="modal-body">
        <vw-message-banner id="messageBannerImportModal"></vw-message-banner>

        <label>Please upload results: </label><span> </span>

        <br>
        <input vw-file-upload type="file" data-allowed-file-extensions='["xlsx"]' accept=".xlsx" ng-model="attachment.file">
        <br>

        Please upload excel files only [xlsx]
        <br>
        (Max. 5 MB per file.) 

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-click="dismiss()">Cancel</button>
        <button class="btn btn-primary btn-sm" ng-click="importResult()" ng-disabled="resultImportForm.$invalid || attachment.file===undefined"><span ng-show="!isUploading" class="fa fa-upload"></span><spinner class="spinner-inline-block" register="false" show="isUploading" img-src="pictures/spinner-white.gif"></spinner> Import</button>
    </div>
</form>